@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rubik:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.customTransition {
	-webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.link-underline, .link-underline-black, .link-underline-dark {
  border-bottom-width: 0;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline, .link-underline-dark {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
}

.link-underline-dark {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);

}

.link-underline:hover, .link-underline-dark:hover {
  background-size: 100% 2px;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
  background-position: 50% 100%;
}

.link-underline-black:hover {
  background-size: 70% 2px;
}


.link-underlined {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.custom-banner {
  background-image: url("/banner.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-banner {
  background-image: url("/section-bg.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

.dots-bg {
  background-image: url("/dots-bg.png");
  background-position: top 133px right 15px;
  background-repeat: no-repeat;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.main_bg {
  background: #f7b500;
}

.main_bg_hover:hover {
  background: #f7b500;
}

.main_color {
  color: #f7b500;
}

.main_color_hover:hover {
  color: #f7b500; 
}

.customCarouselForRecentPosts .react-multi-carousel-item {
    display: flex !important;
    justify-content: center !important;
}

.custonLineClamp1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.custonLineClamp4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; 
}

.contact_shadow {
  box-shadow: 0px -20px 20px -23px rgb(2 2 2 / 26%);
}

@media (min-width: 768px) {
  .customCarouselSpaceXStyle .react-multi-carousel-track {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .contact_shadow {
    box-shadow: -20px 0px 20px -23px rgb(2 2 2 / 26%);
  }
}

@media (min-width: 600px) {
  .dots-bg {
    background-position: top 96px right 32px;
  }
}


@media (min-width: 1024px) {
  .dots-bg {
    background-position: top 18px right 34px;
  }
}

@media (min-width: 1200px) {
  .customCarouselForRecentPosts .react-multi-carousel-item {
    flex: inherit !important;
    width: auto !important;
  }

  .customCarouselForRecentPosts .react-multi-carousel-list {
    justify-content: center;
  }

  .customCarouselForRecentPosts .react-multi-carousel-track {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}